{% trans_default_domain 'login' %}

<form class="mt-4 space-y-4" action="{{ path('app_login') }}" method="post">
  <label for="username" class="text-gray-900 text-sm mb-2 block">{{ 'login.form_field.username.label'|trans }}</label>
  <div class="relative flex items-center">
    <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus autocomplete="username" class="w-full text-gray-900 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" placeholder="{{ 'login.form_field.username.placeholder'|trans }}" />

    <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-4 h-4 absolute right-4" viewBox="0 0 24 24">
      <circle cx="10" cy="7" r="6"></circle>
      <path d="M14 15H6a5 5 0 0 0-5 5 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 5 5 0 0 0-5-5zm8-4z"></path>
    </svg>
  </div>

  <label for="password" class="text-gray-900 text-sm mb-2 block">{{ 'login.form_field.password.label'|trans }}</label>
  <div class="relative flex items-center">
    <input id="password" for="password" name="_password" type="password" autocomplete="current-password" required class="w-full text-gray-900 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" placeholder="{{ 'login.form_field.password.placeholder'|trans }}" />

    <button id="revealPasswordButton" class="text-[#bbb] hover:text-slate-500 pointer-events-auto focus:outline-blue-500 absolute right-3" type="button" title="{{ 'reveal_password_button.title_reveal'|trans }}">
      {{ ux_icon('mdi:eye', { 'id': 'revealPasswordButtonIconOff', 'font-size': '1.2rem' }) }}
      {{ ux_icon('mdi:eye-off', { 'id': 'revealPasswordButtonIconOn', 'font-size': '1.2rem', class: 'hidden text-slate-500' }) }}
      <span id="revealPasswordButtonTitle" class="sr-only">{{ 'login.form_field.reveal_password_button.title_reveal'|trans }}</span>
    </button>
  </div>

  <div class="flex flex-row items-center justify-between">
    <div class="flex items-center-safe gap-x-3">
      <input id="remember-me" name="_remember_me" type="checkbox" class="w-4 h-4 text-blue-600 focus:outline-blue-500 border-gray-300 rounded-sm shrink-0" />
      <label for="remember-me" class="cursor-pointer text-sm text-gray-900">{{ 'login.form_field.remember_me.label'|trans }}</label>
    </div>

    {# <div class="text-sm">
      <a href="jajvascript:void(0);" class="text-blue-600 hover:underline font-semibold">Forgot your password?</a>
    </div> #}
  </div>

  <input type="hidden" name="_csrf_token" {{stimulus_controller('csrf-protection')}} value="{{ csrf_token('authenticate') }}" />

  {# <input type="hidden" name="_target_path" value="{{ path('admin_dashboard') }}"> #}

  <div class="mt-8!">
    <button type="submit" class="w-full py-3 px-4 text-sm tracking-wide rounded-lg text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-6 focus:ring-blue-300 transition ease-in">{{ 'login.form_field.submit_button.label'|trans }}</button>
  </div>

  {# <p class="text-gray-900 text-sm mt-8! text-center">
  Don't have an account? <a href="javascript:void(0);" class="text-blue-600 hover:underline ml-1 whitespace-nowrap font-semibold">Register here</a>
</p> #}
</form>
