{% trans_default_domain 'login' %}
{% extends 'base.html.twig' %}

{% block title %}
  Log in!
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ vite_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ vite_entry_script_tags('login') }}
{% endblock %}

{% block body %}
  <div class="gradient-bg flex flex-col items-center justify-center">
    <div class="p-2 sm:p-6 max-w-xl w-full z-10 backdrop-blur-xl bg-white/30 rounded-4xl shadow">
      <div class="p-6 backdrop-blur-lg bg-white/80 rounded-4xl shadow">
        <main>
          <h1 class="text-gray-900 text-center text-3xl font-bold">Timebot</h1>

          {% if app.user %}
            <div class="mt-4 bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded flex flex-row justify-between" role="alert">
              <span class="block sm:inline">You are logged in as <span class="font-bold">{{ app.user.userIdentifier }}</span>.</span>
              <a title="logout" href="{{ path('app_logout') }}">
                <svg class="fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                  <path fill="currentColor" d="m17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5M4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4z" />
                </svg>
              </a>
            </div>
          {% else %}
            {% if error %}
              <div class="mt-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
              </div>
            {% endif %}
            <form class="mt-4 space-y-4" action="{{ path('app_login') }}" method="post">
              <label for="username" class="text-gray-900 text-sm mb-2 block">{{ 'login.form_field.username.label'|trans }}</label>
              <div class="relative flex items-center">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus class="w-full focus:ring-1 text-gray-900 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" placeholder="{{ 'login.form_field.username.placeholder'|trans }}" />

                <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-4 h-4 absolute right-4" viewBox="0 0 24 24">
                  <circle cx="10" cy="7" r="6"></circle>
                  <path d="M14 15H6a5 5 0 0 0-5 5 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 5 5 0 0 0-5-5zm8-4z"></path>
                </svg>
              </div>

              <label for="password" class="text-gray-900 text-sm mb-2 block">{{ 'login.form_field.password.label'|trans }}</label>
              <div class="relative flex items-center">
                <input id="password" for="password" name="_password" type="password" autocomplete="current-password" required class="w-full text-gray-900 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" placeholder="{{ 'login.form_field.password.placeholder'|trans }}" />

                <div class="absolute right-4 flex items-baseline justify-end w-full pointer-events-none" {{ vue_component('login/Login', {passwordInputId: 'password'}) }}></div>
              </div>

              <div class="flex flex-wrap items-center justify-between gap-4">
                <div class="flex items-center">
                  <input id="remember-me" name="_remember_me" type="checkbox" class="h-4 w-4 shrink-0 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />

                  <label for="remember-me" class="ml-3 block text-sm text-gray-900">{{ 'login.form_field.remember_me.label'|trans }}</label>
                </div>

                {# <div class="text-sm">
                <a href="jajvascript:void(0);" class="text-blue-600 hover:underline font-semibold">Forgot your password?</a>
              </div> #}
              </div>

              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

              <div class="!mt-8">
                <button type="submit" class="w-full py-3 px-4 text-sm tracking-wide rounded-lg text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-6 focus:ring-blue-300 transition ease-in">{{ 'login.form_field.submit_button.label'|trans }}</button>
              </div>

              {# <p class="text-gray-900 text-sm !mt-8 text-center">
              Don't have an account? <a href="javascript:void(0);" class="text-blue-600 hover:underline ml-1 whitespace-nowrap font-semibold">Register here</a>
            </p> #}
            </form>
          {% endif %}
        </main>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="svgBlur">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
          <feBlend in="SourceGraphic" in2="goo" />
        </filter>
      </defs>
    </svg>
    <div class="gradients-container">
      <div class="g1"></div>
      <div class="g2"></div>
      <div class="g3"></div>
      <div class="g4"></div>
      <div class="g5"></div>
    </div>
  </div>
{% endblock %}
