{% trans_default_domain 'login' %}
{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ vite_entry_link_tags('login_style') }}
{% endblock %}

{# {% block javascripts %}
  {{ parent() }}
{% endblock %} #}

{% block body %}
  <div class="gradient-bg flex flex-col items-center justify-center">
    <div class="p-2 sm:p-5 max-w-xl w-full z-10 backdrop-blur-xl bg-white/30 rounded-4xl shadow">
      <div class="p-6 backdrop-blur-lg bg-white/80 rounded-4xl shadow">
        <main>
          <div class="flex items-center justify-center flex-col">
            <div class="app-name-gradient mb-2">
              <h1 class="text-gray-900 text-center text-4xl font-bold tracking-wide">{{ 'app.name'|trans(domain='app') }}</h1>
            </div>
            {% include 'admin/partials/_app_version_badge.html.twig' with {version_short: true} %}
          </div>
          {% if app.user %}
            {% include 'security/_logged_in_notice.html.twig' %}
          {% else %}
            {% if error %}
              <div class="mt-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-sm relative" role="alert">
                <span class="block sm:inline">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
              </div>
            {% endif %}

            {% include 'security/_login_form.html.twig' %}
          {% endif %}
        </main>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="svgBlur">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
          <feBlend in="SourceGraphic" in2="goo" />
        </filter>
      </defs>
    </svg>
    <div class="gradients-container">
      <div class="g1"></div>
      <div class="g2"></div>
      <div class="g3"></div>
      <div class="g4"></div>
      <div class="g5"></div>
    </div>
  </div>
{% endblock %}
