{% trans_default_domain 'user_management' %}
{% extends 'admin/base.html.twig' %}

{% block title_page %}
  {{ 'seo.title_page.users'|trans(domain='app') }}
{% endblock %}

{% set heading = 'ui.nav.users'|trans(domain='app') %}
{% set table_head_classes = 'p-3 border border-slate-200' %}
{% set table_data_classes = 'p-3 border border-slate-200' %}

{% block content %}
  {# <div {{ vue_component('DataTable', { users: users }) }}>Loading...</div> #}

  {# <div {{ stimulus_controller('hello') }} class="mb-4">
    <div {{ stimulus_target('hello', 'output') }}></div>
  </div>

  <div data-controller="table" class="mb-4">
    <div data-table-target="output"></div>
  </div> #}

  <table {{ stimulus_controller('table') }} data-max="5" data-fetch="{{ users_route }}" class="border-collapse border border-slate-300">
    <thead>
      <tr>
        <th class="{{ table_head_classes }}">ID</th>
        <th class="{{ table_head_classes }}">{{ 'users.table.head.username'|trans }}</th>
        <th class="{{ table_head_classes }}">{{ 'users.table.head.role'|trans }}</th>
        <th class="{{ table_head_classes }}">{{ 'users.table.head.actions'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users|default([]) %}
        <tr>
          <td class="{{ table_data_classes }}">{{ user.id }}</td>
          <td class="{{ table_data_classes }}">{{ user.username }}</td>
          <td class="{{ table_data_classes }}">{{ user.role.toTransKey|trans(domain='roles') }}</td>
          <td class="{{ table_data_classes }}">
            {% if is_granted(user.getrole.value) %}
              <div class="flex flex-row gap-x-3">
                <a class="inline bg-gray-50 rounded-md outline outline-black/2 shadow-md p-1.5 text-gray-500 transition-colors hover:text-gray-700" href="javascript:void(0);" title="{{'users.table.body.actions.view'|trans}}">
                  {{ ux_icon('lucide:user') }}
                  <span class="sr-only">{{'users.table.body.actions.view'|trans}}</span>
                </a>
                <a class="inline bg-gray-50 rounded-md outline outline-black/2 shadow-md p-1.5 text-gray-500 transition-colors hover:text-gray-700" href="javascript:void(0);" title="{{'users.table.body.actions.edit'|trans}}">
                  {{ ux_icon('lucide:edit') }}
                  <span class="sr-only">{{'users.table.body.actions.edit'|trans}}</span>
                </a>
                <a class="inline bg-gray-50 rounded-md outline outline-black/2 shadow-md p-1.5 text-gray-500 transition-colors hover:text-gray-700" href="javascript:void(0);" title="{{'users.table.body.actions.delete'|trans}}">
                  {{ ux_icon('lucide:trash-2') }}
                  <span class="sr-only">{{'users.table.body.actions.delete'|trans}}</span>
                </a>
                {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and user.role.value != enum('App\\Entity\\Enum\\RolesEnum').ROLE_SUPER_ADMIN.value -%}
                  <a class="inline bg-gray-50 rounded-md outline outline-black/2 shadow-md p-1.5 text-gray-500 transition-colors hover:text-gray-700" href="{{ path('admin_dashboard', { (switch_user_parameter): user.username }) }}" title="{{'users.table.body.actions.impersonate'|trans}}">
                    {{ ux_icon('lucide:bot') }}
                    <span class="sr-only">{{'users.table.body.actions.impersonate'|trans}}</span>
                  </a>
                {%- endif -%}
              </div>
            {%- endif -%}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
