{% trans_default_domain 'app' %}

{% set isExpanded = app.session.get('sidebar_expanded') ?? true %}

{% macro NavItem(route, text, icon = '') %}
  {% set isActive = app.request.pathInfo == route %}
  {% set colors = isActive ? 'bg-gradient-to-tr from-indigo-200 to-indigo-100 text-indigo-800' : 'hover:bg-indigo-50 text-gray-600' %}

  {# macro does not have access to global variables #}
  {% set isExpanded = app.session.get('sidebar_expanded') ?? true %}

  <li class="group relative flex items-center py-2 px-3 my-1 font-medium rounded-md cursor-pointer transition-colors {{ colors }}">
    <a class="nav-link flex" href="{{route}}">
      {{ ux_icon(icon, {'font-size': '1.3rem'}) }}
      <span class="{{isExpanded ? 'w-52 ml-3' : 'w-0' }} overflow-hidden transition-all">{{ text }}</span>
    </a>

    <div class="absolute left-full" {{ vue_component('partials/sidebar/Tooltip', {text: text }) }}>
  </li>
{% endmacro %}

<nav class="h-full flex flex-col bg-white border-r shadow-sm">
  <div class="flex p-4 pb-2 h-[57px]">
    <span id="app-name" class="{{isExpanded ? 'w-32' : 'w-0' }} text-xl overflow-hidden transition-all">{{ 'app.name'|trans(domain = 'app') }}</span>
    <div class="ml-auto {{isExpanded ? '' : 'mr-auto' }}" {{ vue_component('partials/sidebar/Sidebar', {isExpanded: isExpanded }) }}>
    </div>
  </div>

  <ul class="flex-1 px-3">
    {{ _self.NavItem(
       path('app_admin_dashboard'),
       'ui.nav.dashboard'|trans,
       'lucide:layout-dashboard'
    )}}
    {{ _self.NavItem(
      '#',
      'ui.nav.users'|trans,
      'lucide:circle-user-round'
    )}}
    <hr class="mx-3" />
    {{ _self.NavItem(
      '#',
      'ui.nav.settings'|trans,
      'lucide:settings'
    )}}
  </ul>


  <button class="border-t flex p-3 text-start items-center justify-center hover:bg-indigo-50">
    {{ renderProfileIcon(size: 40, fontSize: 18) }}
    <div id="app-profile" class="{{isExpanded ? 'w-52 ml-3' : 'w-0' }} flex justify-between items-center overflow-hidden transition-all">
      <div class="leading-4">
        <h4 class="font-semibold">{{ app.user.username }}</h4>
        <span class="text-xs text-gray-600 whitespace-nowrap">{{ ('ui.role'|trans) ~ ': ' ~ (app.user.role|trans(domain='roles')) }}</span>
      </div>
      {{ ux_icon('lucide:more-vertical') }}
    </div>
  </button>
</nav>
