{% trans_default_domain 'app' %}

{% set isExpanded = app.session.get('sidebar_expanded') ?? true %}

{% macro NavItem(route, text, icon = '') %}
  {% set isActive = app.request.pathInfo == route %}
  {% set colors = isActive ? 'bg-gradient-to-tr from-indigo-200 to-indigo-100 text-indigo-800' : 'hover:bg-indigo-50 text-gray-600' %}

  {# macro does not have access to global variables #}
  {% set isExpanded = app.session.get('sidebar_expanded') ?? true %}

  <li class="group/navitem relative flex items-center justify-center my-1 font-medium rounded-md transition-colors {{ colors }}">
    <a class="nav-link flex py-2 px-3" href="{{ route }}">
      {{ ux_icon(icon, {'font-size': '1.3rem'}) }}
      <span class="{{isExpanded ? 'w-52 ml-3' : 'w-0' }} overflow-hidden transition-all">{{ text }}</span>
    </a>

    <div class="absolute left-full font-medium pointer-events-none" {{ vue_component('partials/sidebar/Tooltip', {text: text }) }}></div>
  </li>
{% endmacro %}


{% macro UserItem(route, text, icon = '') %}
  {% set isExpanded = app.session.get('sidebar_expanded') ?? true %}

  <li class="group/navitem relative grid place-items-center hover:bg-indigo-50 text-gray-600">
    <a class="nav-link w-full flex justify-center py-4 px-3 hover:text-indigo-800" href="{{ route }}">
      {{ ux_icon(icon, {'font-size': '1.3rem'}) }}
      <span class="{{isExpanded ? 'w-52 ml-3' : 'w-0' }} overflow-hidden transition-all">{{ text }}</span>
    </a>
    <div class="absolute left-full font-medium pointer-events-none" {{ vue_component('partials/sidebar/Tooltip', {text: text, marginLeft: 'ml-3' }) }}>
  </li>
{% endmacro %}

<div id="sidebar" class="h-screen">
  <nav class="h-dvh flex flex-col bg-white border-r shadow">
    <div class="flex p-4 pb-2 h-[57px]">
      <span id="sidebar-app-name" class="{{isExpanded ? 'w-32' : 'w-0' }} text-xl overflow-hidden transition-all">{{ 'app.name'|trans(domain = 'app') }}</span>
      <div class="ml-auto {{isExpanded ? '' : 'mr-auto' }}" {{ vue_component('partials/sidebar/Sidebar', {isExpanded: isExpanded }) }}>
      </div>
    </div>

    <ul class="flex-1 px-3">
      {{ _self.NavItem(
        path('admin_dashboard'),
        'ui.nav.dashboard'|trans,
        'lucide:layout-dashboard'
      )}}
      {{ _self.NavItem(
        '#',
        'ui.nav.importer'|trans,
        'lucide:import'
    )}}
      {% if is_granted(enum('App\\Entity\\Enum\\RolesEnum').ROLE_ADMIN.value)  %}
        <hr class="mx-3" />
        {{ _self.NavItem(
          path('admin_users'),
          'ui.nav.users'|trans,
          'lucide:circle-user-round'
        )}}
        {{ _self.NavItem(
          '#',
          'ui.nav.settings'|trans,
          'lucide:settings'
        )}}
      {% endif %}
    </ul>

    <div id="sidebar-profile-menu" class="group/profile flex flex-col overflow-y-clip">
      <button id="sidebar-profile-button" onclick="window['sidebar-profile-menu'].classList.toggle('open')" class="z-[1] w-full border-t flex p-3 text-start items-center justify-center bg-white hover:bg-indigo-50 group-[.open]/profile:bg-indigo-50">
        {{ renderProfileIcon(size: 40, fontSize: 18) }}
        <div id="sidebar-user-profile" class="{{isExpanded ? 'w-52 ml-3' : 'w-0' }} flex justify-between items-center overflow-hidden transition-all">
          <div class="leading-4">
            <h4 class="font-semibold">{{ app.user.username }}</h4>
            <span class="text-xs text-gray-600 whitespace-nowrap">{{ ('ui.role'|trans) ~ ': ' ~ (app.user.role.toTransKey|trans(domain='roles')) }}</span>
          </div>
          {# TODO visible on focus group/profile #}
          {{ ux_icon('lucide:more-vertical', {class: 'invisible group-hover/profile:visible group-[.open]/profile:visible'}) }}
        </div>
      </button>
      <div class="order-first relative -bottom-full group-[.open]/profile:bottom-0 group-[.open]/profile:visible invisible max-h-0 group-[.open]/profile:max-h-56 transition-[bottom,visibility, max-height] group-[.open]/profile:duration-(--transition-duration-450) duration-200 group-[.open]/profile:ease-(--transition-timing-function-spring)">
        <ul class="bg-slate-50 border-t flex flex-col-reverse">
          {% if is_granted('IS_IMPERSONATOR') %}
            {{ _self.UserItem(
              impersonation_exit_path(path('admin_users')),
              'ui.nav.exit_impersonation'|trans,
              'lucide:bot-off'
            )}}
            <hr class="mx-3" />
          {% endif %}
          {{ _self.UserItem(
            logout_path('main'),
            'ui.nav.logout'|trans,
            'lucide:log-out'
          )}}
          {{ _self.UserItem(
            '#',
            'ui.nav.profile'|trans,
            'lucide:circle-user'
          )}}
        </ul>
      </div>
    </div>
  </nav>
</div>
