{% trans_default_domain 'app' %}

{# first login - set sidebar to open #}
{% if not app.session.has('sidebar_expanded') %}
  {% do app.session.set('sidebar_expanded', true) %}
{% endif %}

{% set isExpanded = app.session.get('sidebar_expanded') %}

{% macro Tooltip(text, class) %}
  {# macro does not have access to global variables #}
  {% set isExpanded = app.session.get('sidebar_expanded') %}
  {% if class is not empty %}{% set class = class ~ ' ' %}{% endif %}

  <div class="{{ class -}} block sidebar-tooltip absolute left-full font-medium pointer-events-none">
    <div class="rounded-md absolute top-[50%] -translate-y-[50%] whitespace-nowrap px-2 py-1 bg-indigo-100 text-indigo-800 text-sm invisible opacity-20 -translate-x-3 transition-all group-hover/navitem:visible group-hover/navitem:opacity-100 group-hover/navitem:translate-x-0 group-focus-within/navitem:visible group-focus-within/navitem:opacity-100 group-focus-within/navitem:translate-x-0">
      {{- text|e|trim -}}
    </div>
  </div>
{% endmacro %}

{% macro NavItem(route, text, icon) %}
  {# dont use app.current_route here because the value should be directly set on href #}
  {% set isActive = app.request.pathInfo == route %}
  {% set colors = isActive ? 'bg-gradient-to-tr from-indigo-200 to-indigo-100 text-indigo-800' : 'hover:bg-indigo-50 text-gray-600' %}

  <li class="group/navitem relative flex items-center justify-center my-1 font-medium rounded-md transition-colors {{ colors }}">
    <a class="nav-link flex py-2 px-3" href="{{ route }}">
      {% if icon is not empty %}{{ ux_icon(icon, {'font-size': '1.3rem'}) }}{% endif %}
      <span class="w-0 overflow-hidden whitespace-nowrap transition-all">{{ text|e|trim }}</span>
    </a>

    {{_self.Tooltip(text, 'ml-6')}}
  </li>
{% endmacro %}

{% macro UserItem(route, text, icon) %}
  <li class="group/navitem relative grid place-items-center hover:bg-indigo-50 text-gray-600">
    <a class="nav-link w-full flex justify-center py-4 px-3 hover:text-indigo-800" href="{{ route }}">
      {% if icon is not empty %}{{ ux_icon(icon, {'font-size': '1.3rem'}) }}{% endif %}
      <span class="w-0 overflow-hidden whitespace-nowrap transition-all">{{ text|e|trim }}</span>
    </a>

    {{_self.Tooltip(text, 'ml-3')}}
  </li>
{% endmacro %}

<div id="sidebar" data-state="{{ isExpanded ? 'expanded' : 'minimized' }}" class="h-screen">
  <nav class="h-dvh flex flex-col bg-white border-r shadow">
    <div class="flex items-center p-4 pb-2 h-[57px]">
      <span id="sidebar-app-name" class="w-0 text-xl overflow-hidden transition-all">{{ 'app.name'|trans(domain = 'app') }}</span>

      <div class="mx-auto">
        <button id="sidebar-toggle" class="p-1.5 rounded-lg shadow bg-gray-50 hover:bg-gray-100">
            {{ ux_icon('lucide:chevron-left', {id: 'sidebar-toggle-icon-left','font-size': '1.4rem', 'class': 'hidden' }) }}
            {{ ux_icon('lucide:chevron-right', {id: 'sidebar-toggle-icon-right','font-size': '1.4rem', class: 'block' }) }}
        </button>
      </div>
    </div>

    <ul class="flex-1 px-3">
      {{ _self.NavItem(
        path('admin_dashboard'),
        'ui.nav.dashboard'|trans,
        'lucide:layout-dashboard'
      )}}
      {{ _self.NavItem(
        'javascript:void(0);',
        'ui.nav.importer'|trans,
        'lucide:import'
    )}}
      {% if is_granted(enum('App\\Entity\\Enum\\RolesEnum').ROLE_ADMIN.value)  %}
        <hr class="mx-3" />
        {{ _self.NavItem(
          path('admin_users'),
          'ui.nav.users'|trans,
          'lucide:circle-user-round'
        )}}
        {{ _self.NavItem(
          'javascript:void(0);',
          'ui.nav.settings'|trans,
          'lucide:settings'
        )}}
      {% endif %}
    </ul>

    <div id="sidebar-profile-menu" class="group/profile flex flex-col overflow-y-clip">
      <button id="sidebar-profile-button" class="z-1 w-full border-t flex p-3 text-start items-center justify-center bg-white hover:bg-indigo-50">
        <div class="relative">
          {{ renderProfileIcon(size: 40, fontSize: 18) }}
          {% if is_granted('IS_IMPERSONATOR') %}
          <span aria-hidden="true" class="absolute p-1.5 bg-red-700 border-2 border-white rounded-full -top-1 -end-1"></span>
          {% endif %}
        </div>
        <div id="sidebar-user-profile" class="w-0 flex justify-between items-center overflow-hidden transition-all">
          <div class="leading-4">
            <h4 class="font-semibold">{{ app.user.username }}</h4>
            <span class="text-xs text-gray-600 whitespace-nowrap">{{ ('ui.role'|trans) ~ ': ' ~ (app.user.role.toTransKey|trans(domain='roles')) }}</span>
          </div>
          {{ ux_icon('lucide:more-vertical', {id: 'sidebar-profile-menu-icon', class: 'invisible'}) }}
        </div>
      </button>
      <div id="sidebar-profile-menu-wrapper" class="order-first relative -bottom-full invisible max-h-0  transition-[bottom,visibility, max-height] duration-200">
        <ul class="bg-slate-50 border-t flex flex-col-reverse">
          {% if is_granted('IS_IMPERSONATOR') %}
            {{ _self.UserItem(
              impersonation_exit_path(path('admin_users')),
              'ui.nav.exit_impersonation'|trans,
              'lucide:bot-off'
            )}}
            <hr class="mx-3" />
          {% endif %}
          {{ _self.UserItem(
            logout_path('main'),
            'ui.nav.logout'|trans,
            'lucide:log-out'
          )}}
          {{ _self.UserItem(
            'javascript:void(0);',
            'ui.nav.profile'|trans,
            'lucide:circle-user'
          )}}
        </ul>
      </div>
    </div>
  </nav>
</div>
