{% trans_default_domain 'app' %}

{% macro Tooltip(text, class) %}
  {% if class is not empty %}{% set class = class ~ ' ' %}{% endif %}

  {% set stayVisibleOnHover = true %}

  <div class="{{ class -}} block sidebar-tooltip absolute left-full font-medium {{ stayVisibleOnHover ? 'h-full before:content-[\'\'] before:absolute before:block before:top-0 before:h-full' : 'pointer-events-none' }}">
    <div class="z-1 rounded-md absolute top-[50%] -translate-y-[50%] whitespace-nowrap px-2 py-1 bg-indigo-100 text-indigo-800 text-sm invisible opacity-20 -translate-x-3 transition-all group-hover/navitem:visible group-hover/navitem:opacity-100 group-hover/navitem:translate-x-0 group-focus-within/navitem:visible group-focus-within/navitem:opacity-100 group-focus-within/navitem:translate-x-0">
      {{- text|e|trim -}}
    </div>
  </div>
{% endmacro %}

{% macro NavItem(this, route, text, icon) %}
  {# dont use app.current_route here because the value should be directly set on href #}
  {% set isActive = this.currentPath == route %}
  {% set colors = isActive ? 'bg-gradient-to-tr from-indigo-200 to-indigo-100 text-indigo-800' : 'hover:bg-indigo-50 text-gray-600' %}

  <li class="group/navitem relative flex items-center justify-center first:mt-0.5 font-medium rounded-md transition-colors {{ colors }}">
    <a class="nav-link flex py-2 px-3" href="{{ route }}">
      {% if icon is not empty %}{{ ux_icon(icon, {'font-size': '1.3rem'}) }}{% endif %}
      <span class="w-0 overflow-hidden whitespace-nowrap transition-all">{{ text|e|trim }}</span>
    </a>

    {{_self.Tooltip(text, 'ml-6 before:w-6 before:-left-6')}}
  </li>
{% endmacro %}

{% macro UserItem(route, text, icon) %}
  <li class="group/navitem relative grid place-items-center hover:bg-indigo-50 text-gray-600">
    <a class="nav-link w-full flex justify-center py-4 px-3 hover:text-indigo-800" href="{{ route }}">
      {% if icon is not empty %}{{ ux_icon(icon, {'font-size': '1.3rem'}) }}{% endif %}
      <span class="w-0 overflow-hidden whitespace-nowrap transition-all">{{ text|e|trim }}</span>
    </a>

    {{_self.Tooltip(text, 'ml-3 before:w-3 before:-left-3')}}
  </li>
{% endmacro %}

<div id="sidebar"
  {{ attributes.without('id').defaults(stimulus_controller('sidebar', {
    isExpanded: this.isExpanded,
  })) }}
  {{stimulus_target('app', 'sidebar')}}
  data-sidebar-open="false"
  data-sidebar-expanded="{{this.isExpanded ? 'true' : 'false'}}"
  class="z-2 t-0 l-0 h-dvh"
>
  <nav class="h-dvh flex flex-col bg-white border-r shadow">
    <div class="h-[60px] flex items-center px-4">
      <span id="sidebar-app-name" class="w-0 text-xl overflow-hidden transition-all">{{ 'app.name'|trans(domain = 'app') }}</span>

      <div class="mx-auto">
        <button id="sidebar-toggle"
          {{stimulus_action('sidebar', 'toggleSidebarSize')}}
          class="hidden md:block p-1.5 rounded-lg shadow bg-gray-50 hover:bg-gray-100"
        >
            {{ ux_icon('lucide:chevron-left', {id: 'sidebar-toggle-icon-left','font-size': '1.4rem', 'class': 'hidden' }) }}
            {{ ux_icon('lucide:chevron-right', {id: 'sidebar-toggle-icon-right','font-size': '1.4rem', class: 'block' }) }}
        </button>

        <button
          id="sidebar-toggle-close"
          {{stimulus_action('app', 'toggleSidebarVisibility', 'click')}}
          class="p-2.5 relative inline-flex md:hidden items-center justify-center before:content-[''] before:absolute before:inset-0 before:m-auto before:w-6 before:h-6 before:bg-gray-50 before:rounded-full before:scale-50 hover:before:scale-200 before:opacity-0 hover:before:opacity-100 before:transition-all before:duration-400 before:ease-[cubic-bezier(0.34,1.56,0.64,1)]"
        >
            {{ ux_icon('lucide:arrow-left', {id: 'sidebar-toggle-close-icon','font-size': '1.5rem', class: 'z-1'}) }}
        </button>
      </div>
    </div>

    <ul class="flex flex-col flex-1 px-3 gap-y-1">
      {{ _self.NavItem(
        this,
        path('admin_dashboard'),
        'ui.nav.dashboard'|trans,
        'lucide:layout-dashboard'
      )}}
      {{ _self.NavItem(
        this,
        'javascript:void(0);',
        'ui.nav.importer'|trans,
        'lucide:import'
    )}}
      {% if is_granted(enum('App\\Enum\\Role').ROLE_ADMIN.value)  %}
        <hr class="mx-3" />
        {{ _self.NavItem(
          this,
          path('admin_users'),
          'ui.nav.users'|trans,
          'lucide:circle-user-round'
        )}}
        {{ _self.NavItem(
          this,
          'javascript:void(0);',
          'ui.nav.settings'|trans,
          'lucide:settings'
        )}}
      {% endif %}
    </ul>

    <div id="sidebar-profile-menu"
      {{stimulus_target('sidebar', 'profileMenu')}}
      {{stimulus_action('sidebar', 'closeSidebarProfileMenu', 'focusout')}}
      class="group/profile flex flex-col overflow-y-clip"
    >
      <button id="sidebar-profile-button"
        {{stimulus_action('sidebar', 'toggleSidebarProfileMenu', 'click')}}
        class="z-1 w-full border-t flex p-3 text-start items-center justify-center bg-white hover:bg-indigo-50"
      >
        <div class="relative">
          {{ renderProfileIcon(size: 40, fontSize: 18) }}
          {% if is_granted('IS_IMPERSONATOR') %}
          <span aria-hidden="true" class="absolute p-1.5 bg-red-700 border-2 border-white rounded-full -top-1 -end-1"></span>
          {% endif %}
        </div>
        <div id="sidebar-user-profile" class="w-0 flex justify-between items-center overflow-hidden transition-all">
          <div class="leading-4">
            <h4 class="font-semibold">{{ app.user.username }}</h4>
            <span class="text-xs text-gray-600 whitespace-nowrap">{{ ('ui.role'|trans) ~ ': ' ~ (app.user.role|trans) }}</span>
          </div>
          {{ ux_icon('lucide:more-vertical', {id: 'sidebar-profile-menu-icon', class: 'invisible'}) }}
        </div>
      </button>
      <div id="sidebar-profile-menu-wrapper" class="order-first relative -bottom-full invisible max-h-0  transition-[bottom,visibility, max-height] duration-200">
        <ul class="bg-slate-50 border-t flex flex-col-reverse">
          {% if is_granted('IS_IMPERSONATOR') %}
            {{ _self.UserItem(
              impersonation_exit_path(path('admin_users')),
              'ui.nav.exit_impersonation'|trans,
              'lucide:bot-off'
            )}}
            <hr class="mx-3" />
          {% endif %}
          {{ _self.UserItem(
            logout_path('main'),
            'ui.nav.logout'|trans,
            'lucide:log-out'
          )}}
          {{ _self.UserItem(
            'javascript:void(0);',
            'ui.nav.profile'|trans,
            'lucide:circle-user'
          )}}
        </ul>
      </div>
    </div>
  </nav>
</div>
